---
import Layout from '@/layouts/Layout.astro'
import '@/styles/app.css'
import Container from '@/components/layout/container.astro'

---
<Layout title='Homepage for the real Belmandissimo' description=' Too many ideas but life is so shortly '>
  <Container>
    <h1 class="hover:text-neon-cyan text-center">Hello People</h1>
    <h3>Did you see here something like animations with oklch colors?</h3>
    <p>or...</p>
    <p>info about me?</p>
  </Container>
</Layout>
